.product {
    color:lightcoral;
    font-weight: 200;
    font-size: 2.5rem;
}
.product2 {
    color:lightcoral;
    font-weight: 200;
    font-size: 1.5rem;
}
.addButton {
    margin: 1rem;
}
.spacer {
    align-items: center;
    justify-content: center;
    display: flex;
}
.nav_container {
    box-shadow: 10;
}

.smoothie-logo {
  transform: translate(-20%, 0%);
}

.btn {
    background-color: #E31B23;
    color: white;
    font-weight: 200;
    font-size: 0.8rem;
    border: none;
    border-radius: 0;
    padding: 0.2rem;
    margin: 0 0.5rem;
    border-radius: 25px;
    max-width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .btn:hover,
  .btn-active {
    background-color:#B5121B;
    color: white;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .smoothie-item {
    width: 100px;
    margin: 0.5rem;

    margin: -5px;
    padding: 5px;
    margin-bottom: 0px;
  }

  .pos-item {
    margin-bottom: 0.5rem;
    font-size: 9px;
    display: inline-block;
    max-width: 100%;
    line-height: 0.9;
  }

  .smoothie-item .pos-item {
    flex-direction: column;
    height: 100%;
  }
  
  .smoothie-item .pos-item img {
    flex-grow: 1;
    max-height: 100%;
  }
  
  .smoothie-item .pos-item p {
    margin: 0;
  }







  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .col-lg-4 {
    margin-left: auto;
  }

  .col-lg-9 {
    margin-right: auto;
  }

  .parent-element {
    position: fixed;
    top: 25%;
    right: 1.5%;
  }   

  .plsaddmsg {
    transform: translate(20%, -200%);
  }

  .smoothiegrid {
    transform: translate(-1%, 0%);
  }

  .paynowbtn {
    max-width: 150px;
    transform: translate(-20%, -50%);
  }

  .purchasedbtn {
    transform: translate(55%, -380%);
  }

  .navbar-arrow {
    width: 24px;
    height: 24px;
    margin-right: -5000px;
  }

  .weather-details-container {
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  .navbar-brand {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .weather-icon {
    padding-right: 20px;
  }
  
  
  